:host {
  display: flex;
  padding: 24px;
  color: white;
  flex-direction: column;
}

.profile--wallets {

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity));

    &--title {
      padding: 0.75rem;
    }
  }
}

.create--wallet {
  font-size: 16px;
  padding: 0.75rem;
}
