<div class="profile--wallets--header">
  <div class="profile--wallets--header--title">
    Mis carteras
  </div>
  <button
    type="button"
    class="create--wallet text-gray-500 hover:border-b-2 hover:text-blue-ribbon-500 hover:border-b-blue-ribbon-500"
    routerLink="/dashboard/wallets/new"
  >
    <i class="fa-solid fa-plus"></i>
    Nueva cartera
  </button>
</div>
<div class="profile--wallets--list">
  <ng-container *ngFor="let wallet of wallets">
    <div class="profile--wallets--wallet">
      {{ wallet }}
    </div>
  </ng-container>
</div>
