<div class="header">
  <div class="username">
    <span class="text-blue-ribbon-500">
      {{ alert.username }}
    </span>
  te ha mencioando en un post </div>
  <div class="options">
    <div
      class="view hover:text-blue-ribbon-500 cursor-pointer"
    >
      <i class="fa-solid fa-eye"></i>
    </div>
    <div
      class="erase hover:text-red-500 cursor-pointer"
      (click)="onDeleteAlert()"
    >
      <i class="fa-solid fa-trash"></i>
    </div>
  </div>
</div>

<div class="message"> {{ alert.message }} </div>
