:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.login {
  &--container {
    display: flex;
    flex-direction: column;
    padding: 26px;
    height: auto;
    width: 420px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
  }

  &--title {
    margin: 8px 0px;
  }

  &--form {

    &--group {
      position: relative;
      z-index: 0;
      width: 100%;
      margin-bottom: 24px;
    }

    &--button {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 6px 12px;
      font-weight: 600;
    }
  }

  &--input {
    display: block;
    padding: 10px 0px;
    width: 100%;
    background: transparent;
    border-width: 0px;
    border-bottom-width: 1px;
    appearance: none;
  }

  &--label {
    position: absolute;
    transition-duration: 300ms;
    z-index: -10;
    top: 12px;
    transform-origin: 0;
  }
}
