<div class="signup--container border-slate-500 bg-gray-800 rounded-md">

  <div class="signup--title text-2xl sm:text-3xl text-center">
    Registro
  </div>

  <ng-container *ngIf="showAlert">
    <div class="bg-red-100 border border-red-400 text-red-700 mt-4 px-4 py-3 rounded relative" role="alert">
      <span class="block sm:inline">{{ errorInfo }}</span>
    </div>
  </ng-container>

  <div class="signup--form sm:mx-auto sm:w-full sm:max-w-sm">

    <form class="space-y-6" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

      <div class="signup--form--group mt-4 group">
        <input
          type="text"
          formControlName="name"
          class="signup--input text-sm text-white border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "/>
        <label
          class="signup--label peer-focus:font-medium text-sm text-gray-500 transform -translate-y-6 scale-75 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            Nombre y apellidos (8 - 16)
        </label>
      </div>

      <div class="signup--form--group group">
        <input
          type="email"
          formControlName="email"
          class="signup--input text-sm text-white border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "/>
        <label
          class="signup--label peer-focus:font-medium text-sm text-gray-500 transform -translate-y-6 scale-75 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            Email
        </label>
      </div>

      <div class="signup--form--group group">
        <input
          type="text"
          formControlName="username"
          class="signup--input text-sm text-white border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "/>
        <label
          class="signup--label peer-focus:font-medium text-sm text-gray-500 transform -translate-y-6 scale-75 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            Nombre de usuario (8 - 16)
        </label>
      </div>


      <div class="signup--form--group group">
        <input
          type="password"
          formControlName="password"
          class="signup--input text-sm text-white border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "/>
        <label
          class="signup--label peer-focus:font-medium text-sm text-gray-500 transform -translate-y-6 scale-75 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            Contraseña (8 - 16)
        </label>
      </div>

      <button
        type="submit"
        [disabled]="!signUpForm.valid"
        class="signup--form--button rounded-md text-sm bg-blue-ribbon-600 hover:bg-blue-ribbon-500 text-white shadow-sm"
      >
        Sign up
      </button>
    </form>

    <p class="mt-4 text-center text-sm text-gray-500">
      O
      <span routerLink="/auth/login" class="font-semibold leading-6 text-blue-ribbon-600 hover:text-blue-ribbon-500 cursor-pointer">Inicia sesión</span>
    </p>
  </div>
</div>



