<div class="replies--box">
  <div class="header">
    <div class="title">Comentarios</div>
  </div>
  <ng-container *ngFor="let post of posts; let index = index">
    <div class="post">
      <div class="header">
        <span class="info">El siguiente usuario ha respondido a una de tus publicaciones:</span>
        <div class="options">
          <div (click)="onEraseNotification(index)" class="erase--notification">
            <span class="material-symbols-outlined">
              delete
            </span>
            Eliminar
          </div>
        </div>
      </div>
      <div class="post--description">
        <mainvest-post [post]="post"></mainvest-post>
      </div>
    </div>
  </ng-container>
</div>
