:host {
  display: flex;
  margin-top: 125px;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  flex-direction: column;
}

.overview {

  &--header {
    display: flex;
    gap: 10px;
  }

  &--trading:hover, &--prediction:hover {
    color: white;
  }
}
