:host {
  display: flex;
  margin-top: 125px;
  color: white;
  flex-direction: column;
}

.overview {

  &--header {
    display: flex;
    gap: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity));
  }

  &--trading:hover, &--prediction:hover {
    color: white;
  }

  &--table {
    margin-left: 20%;
    margin-right: 20%;
  }
}
