<div class="asset--header">
  <div class="asset--header--name text-2xl"> {{ name }} </div>
  <div
    class="asset--header--alert text-gray-600 hover:text-blue-ribbon-500 cursor-pointer"
    data-bs-toggle="modal"
    data-bs-target="#addAlertModal"
  >
      <i class="fa-solid fa-plus"></i>
      Añadir alerta
  </div>
</div>

<div class="asset--body">
  <div class="asset--chart" id="asset--chart"></div>
  <div class="asset--menu text-gray-600">
    <div class="asset--menu--options">
      <div class="asset--menu--options--info">
        <div
          class="asset--options--history option--selected hover:text-blue-ribbon-500 cursor-pointer"
          (click)="updateOptions(0)"
        >
          <i class="fa-solid fa-clock"></i>
          Datos históricos
        </div>
        <div
          class="asset--options--prediction hover:text-blue-ribbon-500 cursor-pointer"
          (click)="updateOptions(1)"
        >
          <i class="fa-solid fa-chart-column"></i>
          Predicción
        </div>
        <div
          class="asset--options--trading hover:text-blue-ribbon-500 cursor-pointer"
          (click)="updateOptions(2)"
        >
          <i class="fa-solid fa-business-time"></i>
          Trading
        </div>
      </div>
      <div class="asset--menu--options--time">
        <div
          class="asset--time--month hover:text-blue-ribbon-500 cursor-pointer"
          (click)="updateTimeChart(false)"
        >
          Mensual
        </div>
        <div
          class="asset--time--year selected hover:text-blue-ribbon-500 cursor-pointer"
          (click)="updateTimeChart(true)"
        >
          Anual
        </div>
      </div>
    </div>
    <ng-container *ngIf="options[0] === true">
      <div class="asset--history">
        <ng-container *ngFor="let asset of chartData.slice(chartData.length - 8, chartData.length - 1)">
          <div class="asset--history--line">
            <div class="asset--history--line--date"> {{ asset.time }} </div>
            <div class="asset--history--line--price"> {{ asset.close | number: '1.3'}}</div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="options[1] === true">
      <mainvest-prediction
        [actualPrice]="this.chartData[this.chartData.length - 1].close"
        [predictedPrice]="this.predictedValue"
      ></mainvest-prediction>
    </ng-container>
    <ng-container *ngIf="options[2] === true">
      <mainvest-asset-trading
        [wallets]="wallets"
        [walletsByAsset]="walletsByAsset"
        [close]="closePrice"
      >
      </mainvest-asset-trading>
    </ng-container>
  </div>
</div>

<div class="modal fade" id="addAlertModal" tabindex="-1" aria-labelledby="addAlertModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-gray-800">
      <div class="modal-header border-b-gray-700">
        <h1 class="modal-title f-5 text-blue-ribbon-500">Añadir alerta</h1>
      </div>
      <form [formGroup]="alertForm" (ngSubmit)="onAddAlert()">
        <ng-container *ngIf="showError">
          <span class="text-sm text-red-600">
            <i class="fa-solid fa-triangle-exclamation"></i>
            El coste excede al saldo actual
          </span>
        </ng-container>
        <div class="modal-body border-t-gray-700 flex justify-center">
          <label for="price">Precio:</label>
          <input type="text" id="price" class="alert--input" formControlName="price">
        </div>
        <div class="modal-footer border-t-gray-700">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button
            type="submit"
            [disabled]="!alertForm.valid || isButtonDisabled"
            [ngClass]="{'hover:text-gray-600': isButtonDisabled || !alertForm.valid}"
            class="btn btn-primary" data-bs-dismiss="modal"
          >
            Añadir alerta
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
