<div class="asset--header">
  <div class="asset--header--name text-2xl"> {{ name }} </div>
</div>

<div class="asset--body">
  <div class="asset--chart" id="asset--chart"></div>
  <div class="asset--menu text-gray-600">
    <div class="asset--menu--options">
      <div class="asset--menu--options--info">
        <div
          class="asset--options--history option--selected hover:text-blue-ribbon-500 cursor-pointer"
          (click)="showHistory(true)"
        >
          <i class="fa-solid fa-clock"></i>
          Datos históricos
        </div>
        <div
          class="asset--options--history hover:text-blue-ribbon-500 cursor-pointer"
          (click)="showPrediction(true)"
        >
          <i class="fa-solid fa-chart-column"></i>
          Predicción
        </div>
        <div
          class="asset--options--trading hover:text-blue-ribbon-500 cursor-pointer"
          (click)="showHistory(false)"
        >
          <i class="fa-solid fa-business-time"></i>
          Trading
        </div>
      </div>
      <div class="asset--menu--options--time">
        <div
          class="asset--time--month hover:text-blue-ribbon-500 cursor-pointer"
          (click)="updateTimeChart(false)"
        >
          Mensual
        </div>
        <div
          class="asset--time--year selected hover:text-blue-ribbon-500 cursor-pointer"
          (click)="updateTimeChart(true)"
        >
          Anual
        </div>
      </div>
    </div>
    <ng-container *ngIf="showHistoricalData; else trading">
      <div class="asset--history">
        <ng-container *ngFor="let asset of chartData.slice(chartData.length - 8, chartData.length - 1)">
          <div class="asset--history--line">
            <div class="asset--history--line--date"> {{ asset.time }} </div>
            <div class="asset--history--line--price"> {{ asset.close | number: '1.3'}}</div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #trading>
      <mainvest-asset-trading
        [wallets]="wallets"
        [walletsByAsset]="walletsByAsset"
        [close]="closePrice"
      >
      </mainvest-asset-trading>
    </ng-template>
  </div>
</div>
