:host {
  display: flex;
  width: 100%;
  margin-top: 2.5%;
  padding: 12px;
  flex-direction: column;
}

.post {
  &--box {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: 20%;
    align-items: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  @apply border-b-2;
}

.responses {
  margin-top: 12px;
  width: 75%;

  &--title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @apply text-xl border-b-2;
  }
}
