<div class="asset--info grid grid-cols-5 ">
  <div class="asset--name">
    <span class="asset__value"> {{ asset.name }} </span>
  </div>
  <div class="asset--price">
    <span class="asset__value"> {{ asset.info.adj_close | number:'1.3' }} $ </span>
  </div>
  <div class="asset--evolution">
    <span
      class="asset__value"
      [ngStyle]="{ color: asset.change >= 0 ? 'red' : 'green' }"
    >
      {{ getAbsolute(asset.change) | number: '1.3'}}%
    </span>
  </div>
  <div class="asset--volume">
    <span class="asset__value"> {{ asset.info.volume | number: '1.0'}}</span>
  </div>
  <div class="asset--options hover:text-blue-ribbon-500 cursor-pointer">
    <i class="asset__value fa-solid fa-eye" (click)="getAssetInfo(asset.name)"></i>
  </div>
</div>
