<ul class="wallets--nav">
  <ng-container *ngFor="let option of submenu.submenuOptions; let index = index">
    <li class="wallets--route">
        <a
          class="wallets--route--link"
          (click)="submenu.navigateOption(index)"
        >
            <span class="material-symbols-outlined"> {{ option.icon }} </span>
            <span class="profile--wallets--route--label"> {{ option.label }} </span>
        </a>
    </li>
  </ng-container>
</ul>
<form [formGroup]="searchForm" class="search">
  <div class="search--group group">
    <input
      type="text"
      formControlName="search"
      class="search--input peer"
      placeholder="Buscar"/>
  </div>
</form>
