:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.wallets {

  &--nav {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    gap: 18px;
    margin-right: 20px;
  }

  &--route {
    display: flex;
    justify-content: center;
    align-items: center;

    &--link {
      display: flex;
      gap: 6px;
      cursor: pointer;
    }

    &--label {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.search {

  &--form {
    @apply space-y-6 sm:mx-auto sm:w-full sm:max-w-sm;
  }

  &--group {
    position: relative;
    z-index: 0;
    width: 100%;
  }

  &--input {
    display: block;
    padding: 10px 0px;
    width: 100%;
    background: transparent;
    border-width: 0px;
    border-bottom-width: 1px;
    appearance: none;

    @apply text-sm border-gray-600;
    @apply focus:outline-none focus:ring-0 focus:border-blue-600;
  }
}
