<ng-container *ngIf="hasLogIn; else signLogOptions">
  <div class="dropdown">
    <button
      class="material-symbols-outlined user"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      person
    </button>
    <ul class="dropdown-menu">
      <ng-container *ngFor="let option of submenu.submenuOptions; let index = index">
        <li>
          <a
            class="dropdown-item user--options"
            (click)="submenu.navigateOption(index)"
          >{{ option.label }}</a>
        </li>
      </ng-container>
      <li><hr class="dropdown-divider"></li>
      <li>
          <a
            class="dropdown-item user--options"
            data-bs-toggle="modal"
            data-bs-target="#signOutModal"
          >Sign Out
          </a>
        </li>
    </ul>
  </div>
</ng-container>

<ng-template #signLogOptions>
  <div class="access--options">
    <button
      class="btn btn-primary text-white"
      routerLink="/auth/login"
    >
      Log in
    </button>
    <button
      class="btn btn-dark text-white"
      routerLink="/auth/signup"
    >
      Sign up
    </button>
  </div>
</ng-template>

<mainvest-modal-sign-out></mainvest-modal-sign-out>
