<div class="menu--nav">
  <div class="menu--home text-2xl cursor-pointer hover:text-blue-ribbon-500" routerLink="market">
    <i class="fa-sharp fa-solid fa-bitcoin-sign"></i>
    Mainvest
  </div>
  <nav>
    <ul class="menu--options flex gap-8">
      <ng-container *ngFor="let route of routes">
        <li
          class="menu--options--route hover:text-blue-ribbon-500 cursor-pointer"
          routerLink="{{ route.path }}">
            {{ route.label }}
        </li>
      </ng-container>
    </ul>
  </nav>
</div>

<div class="menu--search centered">
  <form>
    <div class="menu--form--group">
      <input
        type="text"
        class="menu--input text-sm text-white rounded-md border-b-2 border-gray-700"
        placeholder="Buscar"
      >
      <button
        type="submit"
        class="rounded-md text-sm px-4 py-2 bg-blue-ribbon-600 hover:bg-blue-ribbon-500"
      >
        Search
      </button>
    </div>
  </form>
</div>

<ng-container *ngIf="!user.isAuth">
  <div class="menu--auth flex gap-8">
    <button
      class="menu--auth--login
        text-white hover:bg-black-800 rounded"
      routerLink="/auth/login">
        Log in
    </button>
    <button
      class="menu--auth--signup
       bg-blue-ribbon-600 text-white hover:bg-blue-ribbon-500 rounded"
      routerLink="/auth/signup">
        Sign up
    </button>
  </div>
</ng-container>

<ng-container *ngIf="user.isAuth">
  <div class="menu--profile dropdown-center">

  <button type="button" class="relative mr-3 inline-flex items-center px-2 py-1 text-sm font-medium text-center text-white rounded-lg  focus:ring-4 focus:outline-none focus:ring-blue-300">
    <i class="fa-solid fa-bell hover:text-blue-800"></i>
    <span class="sr-only">Notifications</span>
    <div class="absolute inline-flex items-center justify-center w-4 h-4 text-xs font-bold text-white bg-red-500 rounded-full -top-2 -right-1 dark:border-gray-900">8</div>
  </button>

    <button class="flex items-center gap-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-user"></i>
      <span class="hover:text-blue-ribbon-500" >{{ user.name }}</span>
    </button>
    <ul class="dropdown-menu bg-gray-800">
      <li
        class="menu--profile--options hover:bg-blue-ribbon-500"
        routerLink="/dashboard/profile/posts"
      >
          Mi perfil
      </li>
      <li
        class="menu--profile--options hover:bg-blue-ribbon-500"
        routerLink="/notifications"
      >
          Notificaciones
      </li>
      <li
        class="menu--profile--options hover:bg-blue-ribbon-500"
        routerLink="wallets"
      >
          Mis carteras
      </li>
      <li> <hr class="dropdown-divider"></li>
      <li
        class="menu--profile--options hover:bg-blue-ribbon-500"
        routerLink="/dashboard/profile/settings"
        data-bs-toggle="modal"
        data-bs-target="#settingsAuthModal"
      >
          Ajustes
      </li>
      <li
        class="menu--profile--options hover:bg-blue-ribbon-500"
        routerLink="/auth/logout"
      >
        Log out
      </li>
    </ul>
  </div>
</ng-container>
