:host {
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  color: white;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.menu--nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu--search {
  display: flex;
  width: 250px;
  gap: 20px;
  padding: 10px;
  border-width: 1px;
  border-radius: 10px;
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.menu--auth {

  &--signup {
    display:flex;
    padding: 8px 16px;
    font-weight: 700;
  }

  &--login {
    display: flex;
    padding: 8px 16px;
    font-weight: 700;
  }
}

.menu--profile {
  display: flex;
  align-items: center;

  &--options {
    display: flex;
    padding: 4px 16px;
    cursor: pointer;
    color: white;
  }
}

.menu--form {
  &--group {
    display: flex;
    gap: 8px;
  }
}

.centered {
  display: flex;
  align-items: center;
}

.menu--input {
  display: block;
  width: 100%;
  background: transparent;
  border-width: 0px;
  border-bottom-width: 1px;
  appearance: none;
}

.searchForm {
  width: 200px;
}
