:host {
  display: flex;
  justify-content: space-between;
  height: 64px;
  position: relative;
  align-items: center;
  padding: 24px;
}

li:hover {
  color:darkblue;
  cursor:pointer;
  color: rgb(148, 163, 184);
}

.menu--profile--options--signup:hover {
  cursor:pointer;
}

.menu--profile--options--login:hover {
  cursor: pointer;
}

.menu--profile--options--search {
  position: relative;

  &--icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}

.menu--profile--options--profile:hover {
  cursor: pointer;
}
