:host {
  display: flex;
  padding: 10px 0px;
  @apply  border-t-2;
  @apply grid grid-cols-5;
}

.asset {

  &__value {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &--options {
    display:flex;
    justify-content: center;
  }
}
