:host {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.wallet--select {
  width: 150px;
  border-radius: 0px;
  background: transparent;
  appearance: none;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.asset {

  &--header {
    display: flex;
    justify-content: space-between;
  }

  &--form {
    display: flex;
    gap: 25px;
    margin-top: 15px;

    &--button {
      display: flex;
      cursor: pointer;
    }
  }

  &--input {
    width: 100px;
    background: transparent;
    border-width: 0px;
    border-bottom-width: 1px;
    appearance: none;
  }
}

.wallet {
  &--name {
    display: flex;
  }

  &--select {
    display: flex;
    width: 100px;
  }
}
