<div class="profile--wallets--header">
  <div class="profile--wallets--header--title">
    Mis carteras
  </div>
  <div class="profile--wallets--header--options">
    <div class="profile--wallets--header--search">
      <mainvest-search></mainvest-search>
    </div>
    <button
      type="button"
      class="create--wallet text-gray-500 hover:border-b-2 hover:text-blue-ribbon-500 hover:border-b-blue-ribbon-500"
      routerLink="/dashboard/profile/wallets/new-wallet"
    >
      <i class="fa-solid fa-plus"></i>
      Nueva cartera
    </button>
  </div>
</div>
<div class="profile--wallets--list">
  <ng-container *ngFor="let wallet of walletsInfo; let i = index">
    <div class="profile--wallets--wallet grid grid-cols-6 text-gray-500 hover:border-b-2 hover:border-b-blue-ribbon-500">
      <div class="wallet--name text-white">
        Nombre:
        <span class="wallet--name__value text-gray-500"> {{ wallet.name }} </span>
      </div>
      <div class="wallet--settings">
        <div
          class="wallet--view hover:border-b-2 hover:text-blue-ribbon-500 hover:border-b-blue-ribbon-500 cursor-pointer"
          (click)="onShowWallet(i)"
        >
          <i class="fa-solid fa-eye"></i>
          <div class="inline-flex items-center justify-center p-2 border-b-2 border-transparent rounded-t-lg">
            Ver cartera
          </div>
        </div>
        <div class="wallet--modify hover:border-b-2 hover:text-blue-ribbon-500 hover:border-b-blue-ribbon-500 cursor-pointer">
          <i class="fa-solid fa-wrench"></i>
          <div class="inline-flex items-center justify-center p-2 border-b-2 border-transparent rounded-t-lg">
            Modificar
          </div>
        </div>
        <div
          class="wallet--era se hover:border-b-2 hover:text-red-500 hover:border-b-red-500 cursor-pointer"
          (click)="openModal(i)"
          data-bs-toggle="modal"
          data-bs-target="#eraseWalletModal"
        >
          <i class="fa-solid fa-trash"></i>
          <div class="inline-flex items-center justify-center p-2 border-b-2 border-transparent rounded-t-lg">
            Eliminar
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal fad" id="eraseWalletModal" tabindex="-1" aria-labelledby="eraseWalletModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-gray-800">
      <div class="modal-header border-b-gray-700">
        <h1 class="modal-title f-5 text-red-700">Eliminar cartera</h1>
      </div>
      <div class="modal-body border-t-gray-700">
        Al eliminar la cartera se venderán todos los activos pertenecientes a esta cartera.
      </div>
      <div class="modal-footer border-t-gray-700">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onEraseWallet()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
