<div class="menu--nav">
  <ul class="menu--options flex list-none items-center gap-8">
    <li routerLink="home" class="menu--title text-2xl">Mainvest</li>
    <li routerLink="home">Inicio</li>
    <li routerLink="market">Mercado</li>
    <li routerLink="wallets">Carteras</li>
  </ul>
</div>
<div class="menu--profile--options flex gap-8">
  <div class="menu--profile--options--search">
    <i class="menu--profile--options--search--icon fa-solid fa-magnifying-glass"></i>
    <input class="menu--profile--options--search--input bg-slate-200 pl-8 rounded-xl" placeholder="Buscar" />
  </div>
  <ng-container *ngIf="!isLogIn">
    <div class="menu--profile--options--signup">
      <span routerLink="signup"> Sign up </span>
    </div>
    <div class="menu--profile--options--login">
      <span routerLink="login"> Log in </span>
    </div>
  </ng-container>
  <ng-container *ngIf="isLogIn">
    <i class="menu--profile--options--profile fa-solid fa-user" routerLink="profile"></i>
  </ng-container>
</div>
