<div class="header">
  <span class="title">Nueva cartera</span>
  <div class="options">
    <mainvest-wallets-nav [_idUser]="_userId"></mainvest-wallets-nav>
    <span class="money">{{ money | number: '1.3'}}$</span>
  </div>
</div>
<form
  class="newWallet--form"
  [formGroup]="newWalletForm"
  (ngSubmit)="onSubmit()"
>
  <div class="newWallet--group">
      <input
        type="text"
        formControlName="name"
        class="newWallet--input peer"
        placeholder=" "
      />
      <label class="newWallet--label" for="name">
        Nombre de cartera:
      </label>
  </div>
  <div class="newWallet--asset">
    <span class="asset">Activo:</span>
    <mainvest-dropdown-asset (selectedAsset)="onSelectedAsset($event)"></mainvest-dropdown-asset>
  </div>
  <div class="newWallet--group">
    <input
      type="text"
      formControlName="amount"
      class="newWallet--input peer"
      placeholder=" "
    />
    <label class="newWallet--label" for="name">
      Cantidad
    </label>
  </div>
  <button
    type="submit"
    [disabled]="!newWalletForm.valid || !isButtonEnabled"
    class="newWallet--button btn btn-primary"
  >
    Total: {{ totalCost }}$
  </button>
</form>
