:host {
  display: flex;
  margin-top: 25px;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  flex-direction: column;
}

.table {

  &--header {
    margin-bottom: 10px;

    &__value {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
