<div class="header">
  <div class="user">
    <span class="material-symbols-outlined">
      person
    </span>
    <span class="username"> {{ user.username }} </span>
  </div>
</div>
<div class="options">
  <span
    (click)="onShowProfile()"
    class="material-symbols-outlined show"
  >
    visibility
  </span>
  <ng-container *ngIf="user.isFollowing; else follow">
    <button
      class="btn btn-danger"
      (click)="onFollowOptions(false)"
    >Dejar de seguir</button>
  </ng-container>
  <ng-template #follow>
    <button
      class="btn btn-primary"
      (click)="onFollowOptions(true)"
    >Seguir</button>
  </ng-template>

</div>
