:host {
  display: flex;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  justify-content: space-between;
  @apply border-2 rounded;
}

.header {
  display: flex;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  @apply text-blue-600;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.show {
  @apply hover:text-blue-600;
}
